<!DOCTYPE html>
<html lang="EN">
    <head > 
      <meta charset="UTF-8">
      <meta name="viewport" content="width=device-width, initial-scale=1.0">
      <title>Desc</title>
      <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-T3c6CoIi6uLrA9TneNEoa7RxnatzjcDSCmG1MXxSR1GAsXEV/Dwwykc2MPK8M2HN" crossorigin="anonymous">
      <link rel="stylesheet" href="upl.css">
          <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.11.8/dist/umd/popper.min.js" integrity="sha384-I7E8VVD/ismYTF4hNIPjVp/Zjvgyol6VFvRkX/vR+Vc4jQkC+hVqc2pM8ODewa9r" crossorigin="anonymous"></script>
          <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/js/bootstrap.min.js" integrity="sha384-BBtl+eGJRgqQAUMxJ7pMwbEyER4l1g+O15P+16Ep7Q9Q+zqX6gSbd85u4mG4QzX+" crossorigin="anonymous"></script>
  </head>
  <body  style=" background-color: #FFE585 ;margin-top: 20px; margin-left: 10px;">
    <a href="http://127.0.0.1:8000/sitio/data/"><button type="button" class="btn btn-outline-danger">Volver</button></a>
<h1 style="font-family: 'Courier New', Courier, monospace; text-align: center;">DESCRIPCIÓN DEL DATA SET</h1>
<div  style="margin-top: 20px; display:flex; justify-content: center;"> 
<img src="https://storage.googleapis.com/kaggle-datasets-images/4951235/8336870/2eb398d2174a1c97c6ef9f331d4b1be3/dataset-cover.jpg?t=2024-05-06-14-41-34" width="300px">
</div>
<h3 style="font-family: 'Courier New', Courier, monospace; font-style: bold; color: black; margin-left: 20px; margin-right: 20px; text-align: justify ;border: 2px solid black; padding: 10px; margin-top: 20px;">Este data set nos muestra visualmente los datos de los colegios que rindieron el SAT, Scholastic Aptitude Test. Podremos ver los colegios que tomaron el exámen, la cantidad de estudiantes que realizaron el exámen, el puntaje promedio de las siguientes asignaturas: Mathematics, Critical Reading y Writing, y el puntaje promedio que calculamos en base a los 3 anteriores</h3>

    <h3 style="font-family: 'Courier New', Courier, monospace; font-style: bold; color: black; margin-left: 20px; margin-right: 20px; text-align: justify ;border: 2px solid black; padding: 10px; margin-top: 20px;">Los estudiantes no están obligados a participar en el exámen, pero se incentiva ya que es requerido para entrar a las universidades del país</h3>
    <h3 style="font-family: 'Courier New', Courier, monospace; font-style: bold; color: black; margin-left: 20px; margin-right: 20px; text-align: justify ;border: 2px solid black; padding: 10px; margin-top: 20px;">Para la ciencia de datos, este conjunto de datos ofrece una fuente para análisis de datos exploratorios, modelos predictivos y pruebas estadísticas. Los investigadores pueden analizar distintas categorías como por ejemplo: las correlaciones entre los puntajes del SAT y otros factores como la cantidad de estudiantes, las notas promedios comparadas con cada asignatura, o la distribucion de las notas.</h3>

  </body>
  </html>